p{
    padding-top: 400px;
    padding-left: 150px;
    font-weight: bold;
    color: blueviolet;
}
body{
    background-color: aliceblue;
}
a{
    padding-top: 400px;
    padding-left: 330px;
    font-weight: bold;
    color: blueviolet;
}