*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: rgb(86, 126, 126);
}
.div-header {
        display: flex;
        justify-content: space-between;
       padding-bottom: 30px;
       padding-top: 10px;
     
        
        
        
}
li{
   
    list-style-type: none;
    padding-bottom: 5px;
    display: inline;
    padding-right: 10px;
    cursor: pointer;
  

}
a{
    color: darkgray;
    text-decoration: none;
}
.name{
    color: darkgray;
    padding-top: 10px;
}
.logo{
    height: 50px;
}
.shirt1{
    height: 300px;
    padding-top: 40px;
    

}
.productname{
    
}
.product1div{
  
}
.product2div{
    padding-right: 10px;
    
}
.divline1{
    display: flex;
    padding-left: 30px;
   
}
body{
    background-color: blanchedalmond;
}
.divline2{
    display: flex;
    padding-left: 50px;

}
h4{
    padding-top: 20px;
    font-weight: bolder;

}
p{
    padding-top: 10px;
}
botton{
    padding-top: 20px;
}